// Place all the styles related to the employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.employee_name {
  font-size: 1.75em;
}

.employee_title {
  font-size: 1.2rem;
}

.employee_bio {
  font-size: 0.8rem;
}

.thumb-button {
  margin-left:10px;
  padding:5px;
  border-radius:2px;
}

.thumbs-up {
  height:15px;
  width: 15px;
  margin-bottom:5px;
}
